<header>
  <div class="container">
    <div class="logo">
      <img
        src="https://w7.pngwing.com/pngs/670/265/png-transparent-checkmark-done-exam-list-pencil-todo-xomo-basics-icon-thumbnail.png"
        alt="Logo"
      />
    </div>
    <nav>
      <ul>
        <li><a [routerLink]="['/todos']">To Dos</a></li>
        <li><a [routerLink]="['/home']">Home</a></li>
        <li><a [routerLink]="['/about-us']">About Us</a></li>
        <li><a [routerLink]="['/contact-us']">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>
